#p1{
  color:#E8F0F2 ;
  font-size: 20px;
  background:black;
}

#p2{
  color:#E6DDC6;
    font-size: 20px;
      background: black;

}

.family1 {
  font-family: Arial, Helvetica, sans-serif;
  
}


#headerFontSize{
   font-size: 70px;
}

header{
  height: 90px;
  background:#185ADB; 
  color:white;
  
}
h1{
   font-size: 60px;
}
header ul{

  position: absolute;
  left:60%;
  top :3%;
  float: right;
  font-size: 30px;

}
header li{
  display: inline-block;
  margin: 30px;
}

header a{
  text-decoration: none;
    color: white;

}

main {
  margin: 50px;}

  body {
   
 background-color: black;
  }

  

  #firstSection{
    margin: 30px;
    color: red;
  }

  #secondSection{
    margin: 30px;
    color: orangered;
  }

  #thirdSection{
    margin: 30px;
    color: yellow;
  }

  #fourthSection{
    margin: 30px;
    color: green;
  }

  #fifthSection{
    margin: 30px;
    color: blue;
  }
#sixthSection{
    margin: 30px;
    color:purple;
  }
  h3 {
    font-size: 20px;
    color:yellow;
    background: black;

      }

section{
  display: inline-block;

  }

  footer{
    background: blue;
    color: white;
    text-align: center;
    font-size: 20px;
  }